body {
    font-family: "Poppins";
}

/* .reaper {
    width: 999px;
} */

.cabecalho {
    justify-content: space-between;/* space-between(espaco entre os elementos) */
    max-width: 1440px;
    margin: 0 auto;
    color: white;
    padding: 30px;
    display: flex;
}

.cabecalho .logo-ow {
    width: 65px;
}

.cabecalho .menu {
    display: flex;
    align-items: center;
    height: 100%;
}

.cabecalho nav li a {
    font-weight: bold;
    color: #ffffff;
    font-size: 25px;
    padding: 10px 20px;
    border-radius: 50px;
}

.cabecalho nav li a:hover {
    background-color: #F36504;
}

.container {
    align-items: center;
    max-width: 1440px;
    display: flex;
    margin: 0 auto;
    height: calc(100vh - 132px);
    padding: 0 30px 30px;
}

.container .descricao {
    font-size: 18px;
    margin: 30px 0;
    color: #a8adb7;
    width: 85%;
}

.container .botao-trailer {
    background-color: #F36504;
    padding: 15px;
    font-weight: bold;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    transition: 0.5s all ease-in-out;
}

.container .botao-trailer:hover {
    transform: scale(1.1);
}

.tittle-overwatch {
    width: 500px;
}

.background-vid {
    position: absolute;
    z-index: -1;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.background-vid .vid {
    height: 100%;
    width: 100%;
}

.background-vid::after{
    content: "";
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.8) 50%, rgba(0,0,0,1) 100%);
}

.modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(52, 52, 50, 0.749);
    visibility: hidden;
}

.conteudo-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    border-radius: 5px;
    gap: 15px;
}

.fechar-modal {
    background-color: #ffffff;
    color: orange;
    font-weight: bold;
    font-size: 20px;
    width: 40px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
}

.modal iframe {
    border-width: 0;
    width: 640px;
    height: 360px;
}

.modal.aberto {
    opacity: 1;
    visibility: visible;
}
